@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 90vw;
    background-image: url("Vector (6).png");
    background-size: cover;
}

/* Background image */
.background {
    position: relative;
}



/* Navigation bar styling */
.header1 {
    height: 50px;
    position: relative;
}

.header2 {
    width: 100%;
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 1;
}

.gala {
    width: 232.61px;
    height: 32px;
    color: #FFFFFF;
    font-size: 35px;
    opacity: 1;
    font-family: "Orbitron", sans-serif;
}

.header3 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    margin-top: 3px;
    left: 45%;
    z-index: 1;
}

.name {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header2 i {
    margin-top: 5px;
    margin-left: 5px;
    width: 32px;
    height: 32px;
    color: red;
}

.planethead {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.tag1 {
    color: white;
    padding-left: 83%;
    padding-top: 10px;
}

/* Hero section styling */
.hero {
    display: flex;

    justify-content: center;
    color: white;
    background-image: url("Clip path group.png"), url("Clip path group (1).png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.frame1{
    display: flex;
    justify-content: space-evenly;
}
.frame2 {


    height: 80vh;
    width: 70vw;
    z-index: 1;
    text-align: center;
    gap: 3px;
}

.frame1 {
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    height: 80vh;
    width: 70vw;
}

.lets {
    font-family: "Orbitron", sans-serif;
    font-size: 5.4rem;
    color: #FFFFFF;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 10px;
    position: relative;
    top: -5rem;
    margin-left: 23%;
    animation: slideInRight 2s forwards;

}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.embark {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    left: 25rem;
    color: #FFFFFF;
    top: -7rem;
    width: 45vw;
    animation: slideInLeft 2s forwards;

}
@keyframes slideInLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.but{
    background-image: linear-gradient(to bottom right,#2500FF,#CD1013, #FF0004);
    height: 50px;
    width: 160px;
    position: relative;
    left: 9%;

    opacity: 0;
    animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.butt{
    background-color: #100A33;
}
.img1 {
    width: 150px;
    rotate: 1deg;
    margin-top: -92px;
    position: relative;
    top: 12%;
    left: -23%;
}

.img2 {
    width: 3%;
    height: 5%;
    
    position: absolute;
    top: 30%;
    left: -22%;
}
.img3{
    position: relative;
    top: 63%;
}
.img4{
    position: relative;
    left: 20%;
}
.img5{
    position: relative;
    top: -33%;
    left: -21%;
}
.img7{
    position: relative;
    right: -10%;
    bottom: -3%;

}
.img8{
    position: relative;
    right: -30%;
}

/* Section styling */
.mercury, .venus,  .Mars, .jupitor, .saturn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100vw;
    background-image: url("Clip path group.png"), url("Clip path group (1).png"), url("Vector (6).png");
    background-size: cover;
    overflow: hidden;
    
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.earth,.Uranus,.Neptune{
    color: white;
    height: 100vh;
    width: 100vw;
    background-image: url("Clip path group.png"), url("Clip path group (1).png"), url("Vector (6).png");
    background-size: cover;
    overflow: hidden;
    
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.sun{
    height: 100vh;
    width: 100vw;
    background-image: url("Clip path group.png"), url("Clip path group (1).png"), url("Vector (6).png");
    background-size: cover;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* content -section  */
.sun-content,  .ven-content, .mar-content, .jup-content, .sat-content {
    max-width: 600px;
   
}
.ear-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;

}
.mer-content{
    position: relative;
    left: -13rem;
    max-width: 780px;
    
}
.sun-content{
    
        position: relative;
        left: 13%;
    top: -150%;
}
.mar-content{
    position: relative;
    top: 90;
}
.nep-content{
    position: relative;
    top: 1%;
    
    max-width: 60vw;
}
.mar1-note{
    margin-top: 11rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
}
.ura-content{
    margin-left: 3%;
    justify-content: space-evenly;
    display: flex;
}
.jup-content{
    position: relative;
    top: -3%;
    left: 4%;
    
}
.ven-content{
    margin-left: 9rem;
}
.mer-content{
    position: relative;
    right: 3%;
}
.nep-content{
    position: relative;
    left: 20%;
    z-index: 1;
}
/* img-section */
.mer-img img  .ear-img img,  .jup-img img, .sat-img img, .ura-img img {
    width: 100%;
    height: auto;

}
.sun-img{
    width: 100%;
    position: relative;
    top: -130%;
}
.ven-img{
    position: relative;
    top: 20%;
    left: 11%;    
}
.mar-img {
    position: relative;
    left: -40%;
    top: 30px;
    width:auto;
    height:auto
}
.jup-img {
    position: relative;
    top: -22%;
    left: 15%;
}
.sat-img{
    position: relative;
    right:15%;
}
.ura-note{
    max-width: 35vw;
}
.nep-img {
    width: 155vw;
    height: 63vh;
   
}
.nep-img img{
    position: relative;
    bottom: 110%;
    left: -34%;

}
/* note-section */
.sun-note h2, .mer-note h2, .ven-note h2, .ear-note h2, .mar1-note h2, .jup-note h2, .sat-note h2, .ura-note h2, .nep-note h2 {
    font-size: 64px;
    margin-bottom: 10px;
    color: white;
    font-family: "Orbitron", sans-serif;
    animation: slideInLeft 2s forwards;
}
.nep-note h2{
    text-align: center;
}
.mars-note{
    height: 10px;
    width: 40px;
}
.mar-n{
    position: relative;
    left: -10%;
    top: 15%;
    max-width: 350px;
}
.mar-n :first-child{
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 1.6rem;
}
.mar-n :last-child{
    
    font-weight: 400;
    line-height: 1.6rem;
    
}
.mars-arrow{
    position: relative;
    left: -5%;
    top: -1%;
    height: 70px;
}
.moon{
    display: flex;
    justify-content: space-between;
    width: 70rem;
}
.earth-note{
    position: relative;
    left: 15rem;
    margin-top: 5rem;
    height:11px;
    
    width: 45rem;
}
.earth-note :first-child{
    position: relative;
    left: 63%;
    font-size: 2rem;
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* line-section */
.sun-line, .mer-line, .ven-line, .ear-line, .mar-line, .jup-line, .sat-line, .ura-line, .nep-line {
    font-size: 18px;
    color: white;
    padding-top: 1rem;
    line-height: 1.6;
    animation: slideInRight 2s forwards;

}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* BOX-section for all cards */
 .mer-box, .ven-box, .ear-box, .sat-box, .ura-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.mar-box{
    position: relative;
    display: flex;
    flex-direction: column;
    top: -300px;
}
.sun-box{
    display: flex;
    gap: 20px;
    margin-top: 30px;

}
.mar-box {
    height: 20vh;
    position: relative;
    right: 6rem;
    gap: 3rem;
}
.jup-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
    gap: 50px;
}
.ura-box{
    display: flex;
    justify-content: space-evenly;
}
.nep-box{
    display: flex;
    gap: 6%;
    margin-top: 2%;
}
.card {
    background-image: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
   
    background-size: cover;
    width: 352px;
    height: 160px;
    padding: 24px 40px;
    gap: 24px;
    
    border: 4px solid;

    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);
    
    
    opacity: 1;
    border-radius: 10px;
    display: flex;
}


.card img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 30px;
    transform: rotate(-360deg);
    animation: rotateIn 10s forwards;
}

@keyframes rotateIn {
    to {
        transform: rotate(0deg);
    }
}
.card p:first-child{
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
    margin-bottom: 13px;
}
.card p:last-child{
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.inf p {
    font-size: 16px;
}

/* Footer styling */

footer {
    background: #1E1E1E;
    position: relative;
    left: 2%;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5%;
    border: 4px solid;
    
border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);


    height: 40vh;
    margin-bottom: 3%;
}
.footer-box{
    display: inline;
    justify-content: center;
    align-items: center;
    
}


.frame13 p:first-child {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}
.frame13 :last-child {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
    margin-bottom: 60px;
}
.frame12 {
    display: flex;
    justify-content: space-around;
    margin-top:69px;
}

.frame11{
    width: 100px;
    height: auto;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 3px;
}

.planet {
    display: flex;
    flex-wrap: wrap;
}

.planet p {
    margin: 5px 10px;
}

.tag {
    margin-top: 10px;
    font-size: 12px;
}
.frr{
    display: flex;
    justify-content:center ;
}
.fr{
    display: flex;
    justify-content: center;
    position: relative;
   
    width: 628px;
    height: 50px;
    border-radius: 44px;
    margin-top: 19px;
}
.search-amazon{
    
    width: 100%; 
    font-size: 1rem;
    border: none;
    border-radius: 30px;
}
.sub{
    width: 105px;
    position: relative;
    left: -16%;
    top: 3.4px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size:1.2rem ;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    color: white;
    border-radius: 40px;
}
.gb{
    font-family: "Orbitron", sans-serif;
}







/* Mobile Styles*/
@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        background-size: cover;
    }

    .header2 {
        flex-direction: column;
        align-items: center;
        top: 5%;
        left: 0;
    }

    .gala {
        font-size: 28px;
    }

    .header3 {
        margin-top: 10px;
        left: 0;
        justify-content: center;
    }

    .name {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .frame1 {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .lets {
        font-size: 3rem;
        margin: 0;
        text-align: center;
    }

    .embark {
        font-size: 14px;
        text-align: center;
        width: 100%;
        left: 0;
    }

    .but {
        width: 100%;
        margin: 10px 0;
    }

    .img2 {
      display: none;
    }

   .img1, .img7,  .img6, .img8 {
        width: 100%;
        position: relative;
        display: none;
    }

} 











